@using MigAlarm.Helpers
@model MigAlarm.Models.Views.NotificationViewModel

<table class="table active-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().NotificationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().DateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().CurrentUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Notifications)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAccepted)
            </td>
            <td>
                @Html.DisplayFor(model => item.CurrentUser)
            </td>
            <td>
                @if (item.UserId != IdentityHelper.User.UserId)
                {
                    @Ajax.ImageActionLink(@Url.Content("~/Content/Images/switch-user.png"), "Przejmij", "Takeover", new { id = item.Id }, new AjaxOptions { OnSuccess = "refreshNotifications();", HttpMethod = "POST" }, new { @class = "image-size" })
                }
                else
                {
                    @Ajax.ImageActionLink(@Url.Content("~/Content/Images/close.png"), "Zamknij", "SetClosed", new {id = item.Id}, new AjaxOptions { OnSuccess = "removeRow(" + @item.Id + ");", HttpMethod = "POST"}, new {@class = "image-size"})
                }
                @Ajax.ImageActionLink(@Url.Content("~/Content/Images/info.png"), "Szczegóły", "GetDetails", new {id = item.Id}, new AjaxOptions {OnSuccess = "loadDetails(data);"}, new {@class = "image-size"})
            </td>
        </tr>
    }
</table>