@model MigAlarm.Models.Views.UserDetailsViewModel

@{
    var loggedText = Model.IsOnline ? "Zalogowany w systemie" : "Niezalogowany w systemie";
}

<h2>@Model.Username</h2>
<h4>@loggedText</h4>

@Html.DisplayNameFor(x => x.LastLoginDate)
<span class="badge">@Html.DisplayFor(x => x.LastLoginDate)</span>
<br />
@Html.DisplayNameFor(x => x.ActiveEventsCounter)
<span class="badge">@Html.DisplayFor(x => x.ActiveEventsCounter)</span>
<br/>
@Html.DisplayNameFor(x => x.ClosedEventsCounter)
<span class="badge">@Html.DisplayFor(x => x.ClosedEventsCounter)</span>
<br />