@model MigAlarm.Models.Views.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
    <li class="active">Zmiana hasła</li>
</ol>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <fieldset>
        <legend>Zmień swoje hasło</legend>
    </fieldset>
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Hasło", tabindex = 1})
            @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RepeatedPassword, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(m => m.RepeatedPassword, new { @class = "form-control", placeholder = "Powtórz hasło", tabindex = 1 })
            @Html.ValidationMessageFor(m => m.RepeatedPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zaloguj" class="btn btn-default"/>
        </div>
    </div>
}