@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
@model MigAlarm.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.")
    <div id="base" class="">
        <fieldset>
            <div>
                <fieldset>
                    <legend>Login</legend>
                    <div class="editor-label">
                        @Html.LabelFor(u => u.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.Email)
                        @Html.ValidationMessageFor(u => u.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(u => u.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(u => u.SelectedInstitutionId)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(u => u.SelectedInstitutionId, Model.InstitutionItems, "Select an Institution")
                        @Html.ValidationMessageFor(u => u.SelectedInstitutionId)
                    </div>
                    <input type="submit" value="Log In"/>
                </fieldset>
            </div>
        </fieldset>
</div>
}