@using MigAlarm.Helpers
@{ 
    var institutionInCookie = Request.Cookies["institution"];
}
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-brand">
            @if (institutionInCookie?.Value != null)
            {
                <li>
                    @IdentityHelper.User.Roles.FirstOrDefault(r => r.InstitutionId.ToString() == institutionInCookie.Value)?.Institution.Name
                </li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Cześć " + IdentityHelper.User.Forname + " " + IdentityHelper.User.Surname + "!", string.Empty, string.Empty, null, new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated)
        {
            <li>@Html.Encode(User.Identity.Name)</li>
            <li>@Html.ActionLink("Wyloguj", "Logout", "User", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
        }
        else
        {
            <li>@Html.ActionLink("Zaloguj", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
}
